header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
}
.search-container{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.current-weather-container{
    display: flex;
}

.current-weather-display{
    display: flex;
    margin-left: 10px;
}