header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
}
.search-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
}

.current-weather-container{
    display: flex;
    
}

.current-weather-display{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
}

.history-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 10px;
}

input{
    margin: 10px;
}

button{
    margin: 10px;
}

label{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

h2{
    padding-left: 20px;
}

h1{
    text-align: center;
}

#srchText{
    width: 100%;
    background: cornflowerblue;
    margin: 1px;
    border: 2px solid darkcyan;
    border-radius: 10%;
}